@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body, section > button{
    margin: 0;
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-size: 16pt;
}

header{
    background-color: red;
    display: flex;
    justify-content: space-between;
}

h1{
    padding-left: 20px;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    color: white;
    margin-right: 10px;
}

a:hover, section > button:hover{
    background-color: rgb(150, 0, 0);
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section > button{
    margin-top: 20px;
    width: 90%;
    height: 50px;
    background-color: red;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

table{
    width: 90%;
    margin-top: 30px;
}

th{
    background-color: red;
    border: 1px solid white;
    color: white;
    width: 33.33%;
}

td{
    text-align: center;
}

td > button{
    background:none;
    border: none;
    cursor: pointer;
}

td > button:hover{
    text-decoration: underline;
}

tbody > tr:nth-child(even){
    background-color: lightgray;
}



